:root{
    --color-orange:#FF6C00;
    --color-white:#FFFFFF;
    --color-gray:#9DA4BD;
    --first-font:'raleway',sans serif;
    --second-font:'open sans',sans serif;
}

body{
font-family: var(--second-font);
}